<configuration>
  <system.serviceModel>
    <services>
      <service name="SimpleWCFService.Implementations.HelloService">
        <endpoint
          address=""
          binding="basicHttpBinding"
          contract="SimpleWCFService.Interfaces.IHelloService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>